streamlit
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.86
langchain-groq==0.2.5
arxiv==2.1.3
wikipedia
duckduckgo-search
python-dotenv

python-dotenv
ipykernel

pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit
torchvision
